<a href="https://colab.research.google.com/github/Vaishnaviii21/Week-1/blob/main/Week_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        
        
car = Vehicle(150,20 )
print(car.max_speed, car.mileage)

150 20

In [ ]:
class Vehicle:
    pass

In [ ]:
class Vehicle:

    def __init__(self, name, max_speed, mileage):                
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

In [ ]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 20, 100)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 10000

In [ ]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 18, 110)
print("Total Bus fare is:", School_bus.fare()) 

class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 18, 110)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 11000
Total Bus fare is: 11000