<a href="https://colab.research.google.com/github/Vaishnaviii21/Week-1/blob/main/Week_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Section A

In [ ]:
#Q1)Write a python program to print "Hello Python"

a=str("Hello Python")
print(a)

Hello Python

In [ ]:
#Q2)Write a python program to do arithmetical operations addition and division?

a=15
b=5
print(a+b)
print(a/b)

20
3.0

In [ ]:
#Q3)Write a python program to find the area of a triangle?

base = float(input("Enter a base: "))
height = float(input("Enter the height: "))
Area = 0.5*base*height
print("Area of Triangle: ",Area)

Enter a base: 10
Enter the height: 5
Area of Triangle:  25.0

In [ ]:
#Q4)Write a python program to swap two variables?

a="Vaishnavi"
b="Shrikhande"
print("a before swapping: ",a,"b before swapping: ",b)
c=a
a=b
b=c
print("a after swapping: ",a,"b after swapping: ",b)

a before swapping:  Vaishnavi b before swapping:  Shrikhande
a after swapping:  Shrikhande b after swapping:  Vaishnavi

In [ ]:
#Q5)Write a python program to generate a random number?

import random
a=random.randrange(1,20)
print(a)

17

Section B

In [ ]:
#Q1)Write a python program to convert kilometers to miles?

KM = int(input("Enter Kilometer value:"))
miles = 0.621* KM
print(KM ," km = ",miles ,'miles')

Enter Kilometer value:20
20  km =  12.42 miles

In [ ]:
#Q2)Write a python program to convert Celsius to Fahrenheit?

Celsius = float(input("Enter celsius value:"))
Fahrenhiet = (Celsius*1.8)+32
print(Celsius," °C =",Fahrenhiet,"℉")

Enter celsius value:28
28.0  °C = 82.4 ℉

In [ ]:
#Q3)Write a python program to display calender?

import calendar
yy = 2022
mm = 9 #month
print(calendar.month(yy,mm))

   September 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

In [ ]:
#Q4)Write a python program to solve quadratic equation?

In [ ]:
#Q5)Write a python program to swap two variables without temp variables?

x = 8
y = 16
temp = x
x = y
y = temp
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 16
The value of y after swapping: 8

Section C

In [ ]:
#Q1)Write a python program to check if a number is positive, negative or zero?

num = float(input("Enter a number: "))
if num >= 0:
   if num == 0:
       print("Zero")
   else:
       print("Positive number")
else:
   print("Negative number")

Enter a number: 6
Positive number

In [ ]:
#Q2)Write a Python Program to Check if a Number is Odd or Even?

num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 55
55 is Odd

In [ ]:
#Q3) Write a Python Program to Check Leap Year?

In [ ]:
#Q4)Write a Python Program to Check Prime number?

num = int(input("Enter a number: "))
python = False
if num > 1:
  for i in range(2, num):
        if (num % i) == 0:
            python = True
            break

if python:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

Enter a number: 55
55 is not a prime number

In [ ]:
#Q5)Write a python program to print all prime number in an Interval of 1-10000?

lower = 1
upper = 10000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
  if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Section D

In [ ]:
#Q1)Write a Python program to find the Fractional of a Number?

In [ ]:
#Q2)Write a python program to display the multplication table?

num = 8
for i in range (1,11): 
  print(num, 'x', i,'=',num*i)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
#Q3)Wite a python program to print the Fibonacci sequence?

n_1 = 0
n_2 = 1
count = 0
n_terms = int(input())


if n_terms <= 0:
  print("Please enter a positive integer , the given number is not valid")

elif n_terms == 1:
  print("The Fibonacci sequence of the number up to", n_terms, ": ")
  print(n_1)

else:
    print ("The fibonacci sequence of the number is:")
    while count < n_terms:

      nth = n_1 + n_2

      n_1 = n_2
      n_2 = nth
      count= count + 1
      print(nth)

4
The fibonacci sequence of the number is:
1
2
3
5

In [ ]:
#Q4)Write a python program to check Armstrong Number?

num = int(input("Enter a number: "))
sum=0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 559
559 is not an Armstrong number